body {
  background: linear-gradient(180deg, rgba(0,2,172,1) 0%, rgba(30,8,179,1) 30%, rgba(111,23,196,1) 72%, rgba(119,25,198,1) 100%);;
  height: auto;
}

.app{
  margin: 2rem auto;
  max-width: 360px;
  width: 90%;
  
}

.flex{
  display: flex;
}
